<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.name %></td>
    <td><%= account.email %></td>
    <td>
      <%= link_to 'Show', account %>
      <%= link_to 'Edit', edit_account_path(account) %>
      <%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
