- if @account.logo
  .float_right #{ image_tag @account.logo, :alt => 'Logo' }


%h1 #{@account.name}

- if @account.phone
  %p
    #{@account.phone}

%p
  #{@account.street}
  %br
  #{@account.city}, #{@account.state}
  %br
  #{@account.zip}

%p
  = link_to 'Add Cards', new_account_card_path(@account)
%p
  = render :partial => 'my_cards', :locals => {:cards => @cards}